@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #333333;
  background-color: #fff;
  font-size: 1rem;
  font-family: 'Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ角ゴシック','Hiragino Sans',YuGothic,'Yu Gothic',sans-serif;
  line-height: 1.6;
  letter-spacing: 0.2em;
}

#container {
  position: relative;
  overflow: hidden;
}

::selection {
  background: #82d000;
  color: #ffffff;
}

::-moz-selection {
  background: #82d000;
  color: #ffffff;
}

.br {
  display: block;
}

.l-content-fixed {
  max-width: 980px;
  margin: auto;
  padding: 0 20px;
}

.l-content-expanded {
  width: 100%;
  padding: 30px 0 40px;
}

.l-content-flex {
  display: -webkit-flex;
  display: flex;
}

.l-reverse {
  flex-direction: row-reverse;
}

.l-left-toppage {
  padding: 100px 20px 40px;
}

.l-left-about {
  flex: 1;
}

.l-right-toppage {
  flex: 1;
}

.l-right-about {
  padding: 100px 20px 20px;
}

.l-right-another {
  padding: 100px 20px 40px;
}

.l-right-scene {
  flex: 1;
}

.logo a {
  display: flex;
  align-items: center;
  width: 100px;
}

.logo span + span {
  margin-left: 5px;
}

.logo img {
  width: 100%;
}

.sns-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sns-list li + li {
  margin-left: 10px;
}

.sns-list img {
  width: 20px;
  height: 20px;
}

.sp-sns {
  display: none;
}

.document-tab {
  text-align: left;
  margin-bottom: 90px;
}

.document-tab-item {
  display: inline-block;
  margin-top: 30px;
}

.document-tab-item span {
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  padding: 5px 15px;
  border: 3px solid #82d000;
  border-radius: 20px;
  background-color: #fff;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  font-size: 1.6em;
}

.btn-wrapper {
  text-align: center;
}

.btn.onlinestore {
  color: #fff;
  background: linear-gradient(90deg, #82d000, #009d23);
}

.btn.onlinestore:hover {
  text-decoration: underline;
}

.sp-menu-btn {
  position: absolute;
  top: 35px;
  right: 0;
  cursor: pointer;
  width: 35px;
  height: 20px;
  display: none;
}

.sp-menu-btn span {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #222;
}

.sp-menu-btn span + span {
  margin-top: 7px;
}

.slider-btn {
  position: absolute;
  bottom: 250px;
  padding-left: 20px;
}

.slider-btn .slide-number {
  font-size: 1.4em;
  padding: 0 20px;
}

.arrow-btn {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-left: 3px solid #222;
  border-top: 3px solid #222;
  cursor: pointer;
}

.prev-btn {
  transform: rotate(-45deg);
}

.next-btn {
  transform: rotate(135deg);
}

.scrollTopBtn {
  display: none;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(90deg, #82d000, #009d23);
  cursor: pointer;
  border-radius: 50%;
  z-index: 99;
}

.scrollTopBtn::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.nav-menu {
  display: -webkit-flex;
  display: flex;
}

.nav-list {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  margin-right: 20px;
}

.nav-list li + li {
  margin-left: 20px;
}

.nav-item {
  position: relative;
}

.nav-item a::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 2px;
  background-color: #82d000;
  position: absolute;
  bottom: 0;
  left: -1px;
  transition: width .2s ease;
}

.nav-item a:hover::before {
  width: 100%;
  transition: width .2s ease;
}

.sp-nav {
  display: none;
}

.sp-nav-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bubble-circle {
  position: absolute;
}

.bubble-circle-small {
  width: 100px;
  height: 100px;
  background-color: #eee;
}

.bubble-circle-medium {
  width: 500px;
  height: 500px;
  background-color: #eee;
}

.bubble-circle-large {
  width: 600px;
  height: 600px;
  background-color: #eee;
}

.bubble-color-orenge {
  background: linear-gradient(120deg, #fbb03b, #f15a24);
}

.bubble-color-grape {
  background: linear-gradient(120deg, #dc32bd, #3b0dcf);
}

.bubble-color-apple {
  background: linear-gradient(120deg, #ffe590, #ff0000);
}

.bubble-color-lemon {
  background: linear-gradient(120deg, #b6ff4f, #ffd200);
}

.bubble-color-peach {
  background: linear-gradient(120deg, #ffa592, #ff49c0);
}

.section-content {
  padding-top: 7rem;
  text-align: center;
}

.section-images {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.section-images li {
  width: 135px;
}

.section-images img {
  width: 100%;
}

.section-images-text {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.section-images-text span {
  font-size: 2em;
  font-weight: bold;
}

.section-header {
  position: relative;
  z-index: 1;
}

.section-header-title {
  position: relative;
  display: inline-block;
  font-size: 3.6em;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.section-header-title::before {
  content: "";
  width: 98%;
  height: 3px;
  background-color: #82d000;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.section-main {
  position: relative;
  padding-top: 70px;
}

.section-document {
  font-size: 1.8em;
  text-align: justify;
}

.section-annotation {
  display: inline-block;
  font-size: 1.2em;
  color: #808080;
  padding-top: 10px;
}

.section-column {
  padding-top: 5rem;
}

.section-column-item {
  padding: 0 25px;
}

.section-column-image {
  position: relative;
}

.section-column-image img {
  width: 100%;
  height: auto;
}

.section-column-title {
  font-size: 1.6em;
  font-weight: 600;
  padding-top: 30px;
}

.section-column-document {
  font-size: 1.4em;
  text-align: justify;
  padding-top: 20px;
}

.section-background-transform {
  position: relative;
  background-color: #eee;
  z-index: 0;
}

.section-background-transform::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  border-radius: 0 0 50% 50%;
  background-color: #fff;
  z-index: -1;
}

.section-background-transform::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: url(../images/nameLogo_w.svg) center no-repeat;
}

.toppage-wrapper {
  position: relative;
  background-color: #eee;
}

.toppage-wrapper .bubble-circle {
  top: 100px;
  left: 30%;
  width: 600px;
  height: 600px;
}

.toppage-wrapper .bubble-circle-large {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 56% 44% 34% 66% / 54% 43% 57% 46%;
}

.toppage-wrapper .bubble-circle-small {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(90deg);
  border-radius: 66% 34% 67% 33% / 69% 36% 64% 31%;
}

.toppage-wrapper header {
  position: relative;
  z-index: 100;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.toppage-wrapper .l-content-fixed {
  max-width: 1200px;
  margin: auto;
}

.toppage-wrapper .sns-list img {
  width: 15px;
  height: 15px;
}

.toppage-wrapper .section-main {
  padding: 80px 0;
}

.toppage-wrapper .section-header-title {
  font-size: 5.5em;
}

.toppage-wrapper .section-document {
  font-size: 2.1em;
  margin-top: 60px;
}

.toppage-wrapper .section-images {
  position: relative;
  width: 500px;
  height: 600px;
  margin: auto;
}

.toppage-wrapper .section-images li {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.toppage-wrapper .section-images div {
  position: absolute;
  bottom: 0;
}

.toppage-wrapper .section-images div:nth-child(2) {
  left: 30px;
  bottom: 30px;
}

.toppage-wrapper .section-images div:nth-child(3) {
  right: 30px;
  bottom: 30px;
}

.toppage-wrapper .section-images .image-top {
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

.toppage-wrapper .section-images .image-top img {
  width: 200px;
}

.toppage-wrapper .section-images .image-back img {
  width: 180px;
}

.toppage-wrapper .btn-wrapper {
  padding-bottom: 50px;
}

.ingredients-wrapper .br {
  display: inline-block;
}

.ingredients-wrapper .l-content-flex {
  flex-wrap: wrap;
}

.ingredients-wrapper .section-document {
  text-align: center;
}

.ingredients-wrapper .section-column-item {
  width: calc(100% / 4);
}

.ingredients-wrapper .section-column-image {
  display: inline-block;
  width: 160px;
  height: 160px;
}

.ingredients-wrapper .section-column-image::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #eee;
  border-radius: 49% 51% 48% 52% / 49% 39% 61% 51%;
  transform: rotate(45deg);
  z-index: -1;
}

.about-wrapper .section-images {
  opacity: 0;
  position: relative;
  top: 50px;
  width: 415px;
  height: 450px;
  transition: all .5s ease;
}

.about-wrapper .section-images-item {
  position: absolute;
}

.about-wrapper .section-images li:nth-child(1) {
  top: -20px;
  left: 0;
}

.about-wrapper .section-images li:nth-child(2) {
  top: 50px;
  left: 140px;
}

.about-wrapper .section-images li:nth-child(3) {
  top: 100px;
  left: 280px;
}

.about-wrapper .btn-wrapper {
  text-align: left;
}

.scene-wrapper .l-content-flex {
  align-items: center;
}

.scene-wrapper .l-left-scene {
  width: 580px;
  margin: 0 7% 100px;
}

.scene-wrapper .section-document {
  padding-top: 30px;
}

.scene-wrapper .scene-image {
  width: 100%;
  height: 550px;
  position: relative;
}

.scene-wrapper .scene-image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #eee;
  position: absolute;
  z-index: -1;
}

.scene-wrapper .section-main {
  padding-top: 10px;
}

.scene-wrapper .scene-business .bubble-circle {
  top: 0;
  right: 100px;
}

.scene-wrapper .scene-business .bubble-circle-small {
  border-radius: 51% 49% 66% 34% / 58% 53% 47% 42%;
}

.scene-wrapper .scene-business .bubble-circle-medium {
  border-radius: 55% 45% 74% 26% / 58% 53% 47% 42%;
}

.scene-wrapper .scene-business .scene-image {
  background: url(../images/scene_business.jpg) left no-repeat;
  background-size: cover;
}

.scene-wrapper .scene-business .scene-image::before {
  top: 30px;
  left: 30px;
}

.scene-wrapper .scene-running {
  margin-top: 100px;
}

.scene-wrapper .scene-running .bubble-circle {
  top: 0;
  left: 100px;
  transform: rotate(-90deg);
}

.scene-wrapper .scene-running .bubble-circle-small {
  border-radius: 51% 49% 54% 46% / 42% 61% 39% 58%;
}

.scene-wrapper .scene-running .bubble-circle-medium {
  border-radius: 38% 62% 54% 46% / 61% 61% 39% 39%;
}

.scene-wrapper .scene-running .scene-image {
  background: url(../images/scene_running.jpg) top center no-repeat;
  background-size: cover;
}

.scene-wrapper .scene-running .scene-image::before {
  top: 30px;
  left: -30px;
}

.another-wrapper .section-images {
  opacity: 0;
  position: relative;
  top: 30px;
  left: 0;
  width: 440px;
  padding-top: 30px;
  transition: all .5s ease;
}

.another-wrapper .section-images li + li {
  width: 115px;
}

.another-wrapper .document-tab {
  margin-bottom: 150px;
}

.another-wrapper .btn-wrapper {
  text-align: left;
}

.product-wrapper .br {
  display: inline-block;
}

.product-wrapper .section-header {
  margin-top: 50px;
}

.product-wrapper .section-document {
  text-align: center;
  margin-top: 30px;
}

.product-wrapper .section-main {
  padding-top: 60px;
}

.product-wrapper .section-images {
  padding-bottom: 60px;
}

.product-wrapper .section-images li {
  width: 150px;
  padding: 0 10px;
}

.product-wrapper .product-name {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.product-wrapper .product-name::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -45px;
  width: 150px;
  height: 150px;
  border-radius: 55% 45% 46% 54% / 49% 59% 41% 51%;
  z-index: -1;
}

.certifications-wrapper .section-background-transform::before {
  height: 180px;
}

.certifications-wrapper .section-background-transform::after {
  display: none;
}

.certifications-wrapper .l-content-flex {
  flex-wrap: wrap;
}

.certifications-wrapper .section-column {
  padding-top: 18rem;
}

.certifications-wrapper .section-column li:nth-child(1) .section-column-image {
  width: 180px;
  padding-top: 10px;
}

.certifications-wrapper .section-column-item {
  width: calc(100% / 3);
  padding-bottom: 50px;
}

.certifications-wrapper .section-column-image {
  width: 120px;
  height: 120px;
  margin: auto;
}

.contact-wrapper .section-document {
  font-size: 1.4em;
  text-align: center;
  margin-top: 30px;
}

.contact-wrapper form {
  font-size: 1.4em;
}

.contact-wrapper form p + p {
  margin-top: 20px;
}

.contact-wrapper input, .contact-wrapper textarea {
  width: 100%;
  max-width: 600px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 1.1em;
  padding: 10px;
}

.contact-wrapper input:focus, .contact-wrapper textarea:focus {
  outline: 0;
  border-color: #82d000;
}

.contact-wrapper .form-text input {
  height: 40px;
}

.contact-wrapper .form-text textarea {
  height: 300px;
}

.contact-wrapper .form-submit input {
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px;
}

.contact-wrapper .form-submit input:hover {
  transition: all .2s ease;
  background-color: #333;
  color: #fff;
}

.contact-wrapper .form-submit input:focus {
  outline: 0;
  border-color: #333;
}

.footer {
  border-top: 1px solid #eee;
  margin-top: 80px;
}

.footer .l-content-fixed {
  padding: 20px;
}

.footer .l-content-flex {
  align-items: center;
  justify-content: space-between;
}

.footer-rule {
  font-size: 1.2em;
}

.footer-rule li + li {
  margin-left: 20px;
}

.footer-copyright {
  background-color: #eee;
  font-size: 1.2em;
  padding: 50px 0;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .l-right-another {
    padding: 30px 20px 20px;
  }
}

@media screen and (max-width: 540px) {
  .l-right-about {
    padding: 30px 20px 20px;
  }
  .l-right-another {
    padding: 10px 20px 20px;
  }
}

@media screen and (max-width: 540px) {
  .logo a {
    width: 80px;
  }
}

@media screen and (max-width: 980px) {
  .sp-menu-btn {
    display: block;
  }
  .slider-btn {
    bottom: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .slider-btn .slide-number {
    position: absolute;
    bottom: -415px;
    padding: 0;
  }
  .arrow-btn {
    width: 25px;
    height: 25px;
  }
  .prev-btn {
    position: absolute;
    top: 50%;
    left: 12px;
  }
  .next-btn {
    position: absolute;
    top: 50%;
    right: 50px;
  }
}

@media screen and (max-width: 540px) {
  .slider-btn .slide-number {
    position: absolute;
    bottom: -335px;
  }
  .scrollTopBtn {
    width: 60px;
    height: 60px;
  }
  .scrollTopBtn::after {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 420px) {
  .slider-btn .slide-number {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .document-tab-item {
    margin-top: 10px;
  }
  .document-tab-item span {
    font-size: 1em;
    border: 2px solid #82d000;
  }
}

@media screen and (max-width: 540px) {
  .document-tab {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 980px) {
  .sp-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
  .sp-nav li {
    font-size: 2.6em;
  }
  .sp-nav li + li {
    margin-top: 30px;
  }
  .sp-sns {
    display: inline-block;
    position: absolute;
    bottom: 55px;
    right: 20px;
  }
}

@media screen and (max-width: 420px) {
  .sp-sns {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .section-column {
    padding-top: 2rem;
  }
  .section-background-transform::before {
    height: 300px;
    border-radius: 0 0 40% 40%;
  }
  .section-background-transform::after {
    top: 50%;
  }
}

@media screen and (max-width: 680px) {
  .section-document {
    font-size: 1.4em;
  }
  .section-header-title {
    font-size: 5vw;
  }
  .section-annotation {
    font-size: 1em;
  }
}

@media screen and (max-width: 540px) {
  .section-background-transform::before {
    height: 250px;
    border-radius: 0 0 15% 15%;
  }
}

@media screen and (max-width: 980px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  .toppage-wrapper .bubble-circle {
    top: 50px;
  }
  .toppage-wrapper .section-header-title {
    font-size: 4.8vw;
  }
  .toppage-wrapper .section-images {
    width: 500px;
    height: 520px;
  }
  .toppage-wrapper .section-images .image-top {
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .toppage-wrapper .section-images .image-top img {
    width: 180px;
  }
  .toppage-wrapper .section-images .image-back img {
    width: 160px;
  }
}

@media screen and (max-width: 980px) {
  .toppage-wrapper .bubble-circle {
    top: -100px;
    left: 40%;
    transform: rotate(10deg);
  }
  .toppage-wrapper .section-header-title {
    font-size: 4.5em;
  }
  .toppage-wrapper .section-main {
    padding: 30px 0;
  }
  .toppage-wrapper .l-content-flex {
    display: block;
  }
  .toppage-wrapper .l-left-toppage {
    text-align: center;
    padding: 20px 0;
  }
  .toppage-wrapper .section-document {
    text-align: center;
    font-size: 1.8em;
    margin-top: 40px;
  }
}

@media screen and (max-width: 540px) {
  .toppage-wrapper .bubble-circle {
    top: -60px;
    left: 30%;
    transform: rotate(20deg);
  }
  .toppage-wrapper .section-header-title {
    font-size: 3em;
  }
  .toppage-wrapper .section-document {
    font-size: 1.4em;
  }
  .toppage-wrapper .section-images {
    width: 200px;
    height: 400px;
  }
  .toppage-wrapper .section-images .image-top {
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .toppage-wrapper .section-images .image-top img {
    width: 140px;
  }
  .toppage-wrapper .section-images .image-back {
    display: none;
  }
  .toppage-wrapper .l-left {
    padding: 20px 0;
  }
}

@media screen and (max-width: 980px) {
  .ingredients-wrapper .section-column-item {
    text-align: center;
    width: calc(100% / 2);
    padding: 50px 50px 0;
  }
}

@media screen and (max-width: 680px) {
  .ingredients-wrapper .br {
    display: block;
  }
  .ingredients-wrapper .section-column-item {
    width: calc(100% / 1);
    padding: 80px 30% 0;
  }
}

@media screen and (max-width: 540px) {
  .ingredients-wrapper .section-column-item {
    padding: 40px 20% 0;
  }
}

@media screen and (max-width: 980px) {
  .about-wrapper .l-content-flex {
    display: block;
  }
  .about-wrapper .section-images {
    margin: 0 auto;
  }
  .about-wrapper .btn-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .about-wrapper .section-images {
    width: 320px;
    height: 370px;
  }
  .about-wrapper .section-images li {
    width: 100px;
  }
  .about-wrapper .section-images li:nth-child(2) {
    top: 30px;
    left: 110px;
  }
  .about-wrapper .section-images li:nth-child(3) {
    top: 80px;
    left: 220px;
  }
}

@media screen and (max-width: 980px) {
  .another-wrapper .l-content-flex {
    display: block;
  }
  .another-wrapper .section-images {
    margin: 0 auto;
    padding: 0;
  }
  .another-wrapper .document-tab {
    margin-bottom: 90px;
  }
  .another-wrapper .btn-wrapper {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .another-wrapper .section-images {
    width: 300px;
  }
  .another-wrapper .section-images li {
    width: 110px;
  }
  .another-wrapper .section-images li + li {
    width: 100px;
  }
  .another-wrapper .document-tab {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1400px) {
  .scene-wrapper .l-content-flex {
    display: block;
  }
  .scene-wrapper .l-left-scene {
    margin: 0 auto 50px;
  }
  .scene-wrapper .bubble-circle {
    display: none;
  }
  .scene-wrapper .scene-image::before {
    display: none;
  }
  .scene-wrapper .document-tab {
    text-align: center;
  }
}

@media screen and (max-width: 680px) {
  .scene-wrapper .l-left-scene {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 540px) {
  .scene-wrapper .scene-image {
    height: 400px;
  }
}

@media screen and (max-width: 540px) {
  .product-wrapper .br {
    display: block;
  }
}

@media screen and (max-width: 980px) {
  .certifications-wrapper .section-column li:nth-child(1) .section-column-image {
    width: 120px;
  }
  .certifications-wrapper .section-column-item {
    width: calc(100% / 2);
  }
  .certifications-wrapper .section-column-image {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 540px) {
  .certifications-wrapper .section-header {
    margin-top: 50px;
  }
  .certifications-wrapper .section-column {
    padding-top: 12rem;
  }
  .certifications-wrapper .section-column-document {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 540px) {
  .footer-rule {
    display: none;
  }
}

.toppage-wrapper .section-images .is-fadeIn {
  display: inline-block;
  animation: fadeIn .5s ease 0s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-45%, -50%);
  }
  100% {
    opacity: 1;
  }
}

.about-wrapper .section-images.is-fadeUp {
  opacity: 1;
  top: 20px;
}

.another-wrapper .section-images.is-fadeUp {
  opacity: 1;
  top: 0;
}
